<li {% if active_link == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>

{% if user.is_authenticated %}
<li {% if active_link == "pool:store" %}class="active"{% endif %}><a href="{% url 'pool:store' %}">Store</a></li>
<li {% if active_link == "pool:pool" %}class="active"{% endif %}><a href="{% url 'pool:pool' %}">Pool</a></li>
<li {% if active_link == "pool:find" %}class="active"{% endif %}><a href="{% url 'pool:find' %}">Find</a></li>
{% endif %}

<li {% if active_link == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>

